.header img{
    height: 100px;
}
.header{
    text-align: center;
}
.navbar{
    text-align: left;
    background-color: black;
    line-height: 40px;
    padding-left: 40px;
}
.navbar a{
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 8px;
}
.navbar a:hover{
    background-color: gray;
}